@{
    ViewData["Title"] = "Home Page";
}

@*@<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@model IEnumerable<EventManagement.Models.Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card-deck">
    @foreach (var _event in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3> Name: @_event.Title</h3>
                <h4>Id: @_event.StartDate</h4>
            </div>
            <img class="card-img-top" src="~/Image/ColourSurge1.jpg" />
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" asp-route-id="@_event.EventId" class="btn btn-primary">View</a>
            </div>
        </div>
    }
</div>
