@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EventManagement.Models.Comment;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Comment";
}

<form asp-controller="Comment" asp-action="Add" method="post" class="mt-3">
    <div>
        <div class="form-group row">
            <label asp-for="Content" class="col-sm-2 col-form-label"></label>
            <div class=" col-sm-10">
                <input type="text" asp-for="Content" class=" form-control" placeholder="Let us know what you think.">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Date" class="col-sm-2 col-form-label"></label>
            <div class=" col-sm-10">
                <input type="email" asp-for="Date" class=" form-control" placeholder="Posting Date.">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Owner" class="col-sm-2 col-form-label"></label>
            <div class=" col-sm-10">
                <input type="password" asp-for="Owner" class=" form-control" placeholder="Your name.">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
